workflows/echo-bot.json
{
  "name": "WhatsApp Echo Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-echo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook — Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-echo"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Evolution API webhook payload\nconst body = $input.first().json;\n\n// Evolution API sends events under different keys depending on version\nconst event = body.event || body.type || '';\nconst data  = body.data  || body;\n\n// Only process text messages (ignore status updates, media, etc.)\nif (event !== 'messages.upsert' && event !== 'message') {\n  return [{ json: { skip: true, reason: `Ignored event: ${event}` } }];\n}\n\nconst message = data.message || {};\nconst key     = data.key     || {};\n\n// Skip messages sent BY the bot (fromMe = true)\nif (key.fromMe) {\n  return [{ json: { skip: true, reason: 'Own message, skipping.' } }];\n}\n\nconst remoteJid   = key.remoteJid || '';\nconst phone       = remoteJid.replace(/@(s\\.whatsapp\\.net|lid|c\\.us)$/, '');\nconst textContent = message.conversation\n                 || message.extendedTextMessage?.text\n                 || '';\n\nif (!textContent) {\n  return [{ json: { skip: true, reason: 'No text content found.' } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    instanceName: body.instance || data.instanceName || 'default',\n    phone,\n    remoteJid,\n    text: textContent,\n    pushName: data.pushName || '',\n    messageId: key.id || ''\n  }\n}];\n"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.{{ $env.DOMAIN }}/message/sendText/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "number": "={{ $json.phone }}",
          "text": "=Echo: {{ $json.text }}"
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Send Echo via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"processed\": true }"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"processed\": false, \"reason\": \"{{ $json.reason }}\" }"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Respond 200 (skipped)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 400]
    }
  ],
  "connections": {
    "Webhook — Evolution API": {
      "main": [
        [{ "node": "Extract Message", "type": "main", "index": 0 }]
      ]
    },
    "Extract Message": {
      "main": [
        [{ "node": "Should Process?", "type": "main", "index": 0 }]
      ]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Send Echo via Evolution API", "type": "main", "index": 0 }],
        [{ "node": "Respond 200 (skipped)", "type": "main", "index": 0 }]
      ]
    },
    "Send Echo via Evolution API": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["whatsapp", "evolution-api", "echo", "starter"],
  "triggerCount": 0,
  "updatedAt": "2026-06-30T00:00:00.000Z",
  "versionId": "1"
}
