workflows/lead-capture.json
{
  "name": "WhatsApp Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Webhook — Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "whatsapp-leads"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst event = body.event || body.type || '';\nconst data  = body.data  || body;\n\nif (event !== 'messages.upsert' && event !== 'message') {\n  return [{ json: { skip: true, reason: `Ignored event: ${event}` } }];\n}\n\nconst message = data.message || {};\nconst key     = data.key     || {};\n\nif (key.fromMe) {\n  return [{ json: { skip: true, reason: 'Own message.' } }];\n}\n\nconst remoteJid = key.remoteJid || '';\nconst phone     = remoteJid.replace(/@(s\\.whatsapp\\.net|lid|c\\.us)$/, '');\nconst text      = (\n  message.conversation ||\n  message.extendedTextMessage?.text ||\n  ''\n).trim();\n\nif (!text) {\n  return [{ json: { skip: true, reason: 'No text content.' } }];\n}\n\n// Extract name — look for patterns like \"Meu nome é João\" or just use pushName\nconst pushName = data.pushName || '';\nconst nameMatch = text.match(/(?:meu nome [eé]|me chamo|sou o?a?)\\s+([A-ZÀ-Ü][a-zà-ü]+(\\s[A-ZÀ-Ü][a-zà-ü]+)*)/i);\nconst name = nameMatch ? nameMatch[1].trim() : (pushName || 'Desconhecido');\n\n// Format phone to E.164 (Brazil default +55)\nconst digitsOnly = phone.replace(/\\D/g, '');\nconst e164 = digitsOnly.startsWith('55') ? `+${digitsOnly}` : `+55${digitsOnly}`;\n\nreturn [{\n  json: {\n    skip: false,\n    instanceName: body.instance || data.instanceName || 'default',\n    name,\n    phone: e164,\n    phoneRaw: phone,\n    remoteJid,\n    messageText: text,\n    capturedAt: new Date().toISOString(),\n    source: 'whatsapp'\n  }\n}];\n"
      },
      "id": "aa000002-0000-0000-0000-000000000002",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000003-0000-0000-0000-000000000003",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (name, phone, source, first_message, created_at)\nVALUES (\n  '{{ $json.name }}',\n  '{{ $json.phone }}',\n  '{{ $json.source }}',\n  '{{ $json.messageText.replace(/'/g, \"''\") }}',\n  NOW()\n)\nON CONFLICT (phone) DO UPDATE\n  SET last_seen_at = NOW(),\n      message_count = leads.message_count + 1\nRETURNING id, phone, name, created_at, (xmax = 0) AS is_new;",
        "options": {}
      },
      "id": "aa000004-0000-0000-0000-000000000004",
      "name": "Upsert Lead in PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [960, 260],
      "credentials": {
        "postgres": {
          "id": "postgres-whatsapp-stack",
          "name": "WhatsApp Stack Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.{{ $env.DOMAIN }}/message/sendText/{{ $('Extract Lead Data').item.json.instanceName }}",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "number": "={{ $('Extract Lead Data').item.json.phoneRaw }}",
          "text": "=Ola, {{ $('Extract Lead Data').item.json.name }}! Recebemos seu contato e em breve um de nossos consultores vai entrar em contato. Obrigado!"
        },
        "options": { "timeout": 10000 }
      },
      "id": "aa000005-0000-0000-0000-000000000005",
      "name": "Send Confirmation via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 260],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"lead_id\": \"{{ $json.id }}\", \"is_new\": {{ $json.is_new }} }"
      },
      "id": "aa000006-0000-0000-0000-000000000006",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"processed\": false }"
      },
      "id": "aa000007-0000-0000-0000-000000000007",
      "name": "Respond 200 (skipped)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 440]
    }
  ],
  "connections": {
    "Webhook — Evolution API": {
      "main": [
        [{ "node": "Extract Lead Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [{ "node": "Should Process?", "type": "main", "index": 0 }]
      ]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Upsert Lead in PostgreSQL", "type": "main", "index": 0 }],
        [{ "node": "Respond 200 (skipped)", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Lead in PostgreSQL": {
      "main": [
        [{ "node": "Send Confirmation via Evolution API", "type": "main", "index": 0 }]
      ]
    },
    "Send Confirmation via Evolution API": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["whatsapp", "evolution-api", "leads", "postgresql", "crm"],
  "triggerCount": 0,
  "updatedAt": "2026-06-30T00:00:00.000Z",
  "versionId": "1"
}
